body{
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading-placeholder{
    display: flex;
    justify-content: center;
}

.heading{
    font-size: 72px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: black 0px 0px 10px;
    margin-bottom: 0px;
}

.form-placement{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.form{
    width: 500px;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 20px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 10px;
}

.input-design{
    border-radius: 3px;
    width: 200px;
    height: 30px;
    border: none;
    padding-left: 10px;
    box-shadow: black 0px 0px 5px;
}

.submit-button{
    background-color: green;
    border: none;
    border-radius: 10px;
    width: 75px;
    height: 30px;
    box-shadow: black 0px 0px 2px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
